$background-colours: ("light": #E7E7E2, "main": #FFF, "dark": #0A0A0A);
$font-weights: ("regular": 400, "semibold": 500);
$font-family: "prompt", "Arial", sans-serif;
$white: #FFF;
$black: #000;
$jetBlack: #0A0A0A;
$doveGray: #666;