.heading {
  text-transform: uppercase;
  font-family: $font-family;
  font-size: 48px;
  font-weight: map-get($font-weights, "semibold");
  line-height: 64px;
  letter-spacing: 0.04em;
  padding-bottom: 40px;
  margin: 0;

  &_about {
    grid-column: 1;
    grid-row: 1;
  }
}

@media screen and (max-width: 1439px) {
  .heading {
    font-size: 32px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 20px;

    &_about {
      padding-bottom: 0;
    }
  }
}